<div class="w-full">
    <div class="flex justify-between mb-4 p-4">
      <h2 class="text-3xl font-medium flex items-center">
        More to Explore
      </h2>
    </div>
    <div class="flex flex-no-wrap gap-2 overflow-x-scroll scrolling-touch items-start">
        <div class="flex-none w-1/1 lg:w-1/3 lg:pb-4">
            <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_599,c_limit/8dc9963f-b987-4cbe-9126-72b6dc71b45e/nike-kids-shoes-clothing-and-accessories-nike-com.jpg" alt="">
            <div class="flex flex-col gap-6 py-4">
                <h2 class="text-xl">Spring Break Ready</h2>
                <a href="#" class="underline underline-offset-8 hover:text-gray-500 text-sm">Shop</a>
            </div>
        </div>
        <div class="flex-none w-1/1 lg:w-1/3 lg:pb-4">
            <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_599,c_limit/d5d8604e-268c-4b3c-9830-27fa998dbed9/nike-kids-shoes-clothing-and-accessories-nike-com.jpg" alt="">
            <div class="flex flex-col gap-6 py-4">
                <h2 class="text-xl">Shoes $70 & Under</h2>
                <a href="#" class="underline underline-offset-8 hover:text-gray-500 text-sm">Shop</a>
            </div>

        </div>
        <div class="flex-none w-1/1 lg:w-1/3 lg:pb-4">
            <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_599,c_limit/0a412e3a-4250-4393-acc1-ed671f373401/nike-kids-shoes-clothing-and-accessories-nike-com.jpg" alt="">
            <div class="flex flex-col gap-6 py-4">
                <h2 class="text-xl">Best of Jordan</h2>
                <a href="#" class="underline underline-offset-8 hover:text-gray-500 text-sm">Shop</a>
            </div>
        </div>
    </div>
</div>